body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .profile {
    text-align: center;
    margin-right: 20px;
  }
  
  .profile img {
    max-width: 200px;
    border-radius: 50%;
  }
  
  .details {
    text-align: left;
    max-width: 300px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  
  a {
    text-decoration: none;
    color: #0074cc;
  }
  
  a:hover {
    text-decoration: underline;
  }